/* Navbar */
#nav_bar{
    background-color: rgba(255,255,255,0.3);
    /* background-color: rgba(0, 0, 0, 0.733); */
    padding: 20px 30px;
    
}


.navbar-expand-lg .navbar-collapse {
    padding-left: 75%;
}

#nav_bar a{
    color: black;
}

#nav_bar a:hover{
    font-weight: bolder;
}

#nav_bar a:active{
    font-weight: bolder;
}

.active{
    font-weight: bolder;
    font-size: 1.1rem;
}

/* Section */
.main{

     /* height: 93vh; */
     width:100%;
     padding-top: 5%;
     padding-bottom: 5%;

      
}

.navbar-brand{
    font-weight: 800;
    font-size: 22px!important;
}

.alert{
    margin-bottom: 0px; 
    border: 0px;
    border-radius: 0px;
}

.page-header{
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    /* font-family: 'Raleway', 'sans-serif'; */
    /* font-weight: 600; */
}

/* Home */
.home_text{
    font-family: 'poppins', sans-serif;
    margin-top: 13%;
    
}

#home_menu{
    font-weight: 700;
}

.home_menu_btn1{
    padding-right:15px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.home_menu_btn2{
    padding-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
}

.home_menu_btn1:hover{
    text-decoration: underline;
}

.home_menu_btn2:hover{
    text-decoration: underline;
}



.head1{
    font-size:56px;
}

.head2{
    font-size: 32px;
}

.home_btn{
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid rgba(255,255,255,0.8);
    padding: 10px 20px;
    
    
}



.home_btn:hover{
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid rgba(255,255,255,0.8);
    padding: 10px 20px;
    
    
}

.home_btn:active{
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid rgba(255,255,255,0.8);
    padding: 10px 20px;
    
    
}



.scroll_down{
    margin-top: 50px;
}

.scroll_down a{
    
    color: white;
    text-decoration: none;
}


/* About */
.about{
    background-color: #f2f2f2;
}
.about_content{
    padding-bottom: 10%;
    margin-top: 10px;
}

.about h4{
    text-align: start;
}

.about p{
    text-align: justify;
}



.skill{
   font-size: 20px; 
   background:rgb(36, 88, 202)!important;  
   font-weight: 400; 
   margin: 5px 5px;
}



/* Project */
.project{
    background-color:white;
}

.social{
    text-align: start;
}

.card_btn{
    background:rgb(36, 88, 202)!important;
    border-radius: 0px;
    
}

.card-text{
  font-size: 16px;
}

.card{
    width: 100%;
    /* min-width: 345px; */
    max-width: 480px;
   
}


/* Contact */
.contact{
    background-color: #f2f2f2;
}

.social a{
    color:rgb(36, 88, 202)!important;  
    text-decoration: none;
}

.form_input{
    border-radius: 0px!important;
}

.submit_btn{
    background:rgb(36, 88, 202)!important;
    color:white;
    font-weight: 400;
}

@media only screen and (max-width: 1500px){
    
    
    .head1{
        font-size:50px;
    }
    
    .head2{
        font-size: 30px;
    }

    #home_img{
        padding-top: 5%;
        
    }
}

@media only screen and (max-width: 1050px){

    .home_text{
        font-family: 'poppins', sans-serif;
        margin-top: 12%;
        
    }
    
    .head1{
        font-size:40px;
    }
    
    .head2{
        font-size: 24px;
    }

    #home_img{
        padding-top: 8%;
    }
}



@media only screen and (max-width: 1200px){
    .navbar-expand-lg .navbar-collapse {
        padding-left: 66%;
    }
}

@media only screen and (max-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        padding-left: 0;
    }
    
    .card-text{
        font-size: 15px;
      }

}

@media only screen and (max-width: 767px){

    .home_text{
        font-family: 'poppins', sans-serif;
        margin-top: 5%;
        text-align: center;
        
    }
    
    .head1{
        font-size:40px;
    }
    
    .head2{
        font-size: 24px;
    }

    #home_img{
        padding-top: 8%;
        
    }
}


@media only screen and (max-width: 550px){
    
    
    .home_text{
        font-family: 'poppins', sans-serif;
        margin-top: 5%!important;
        text-align: center;
        
    }
    
    .head1{
        font-size:28px!important;
    }
    
    .head2{
        font-size: 20px!important;
    }

    #home_img{
        padding-top: 20%;
    }

    #about{
        text-align: center;
    }

    #about h4{
        text-align: center;
    }

    #contact_form{
        text-align: center; 
    }

    #contact_form h4{
        text-align: center;
    }

    #social_links h4{
        text-align: center;
    }
    .socials{
        padding: 0 8%;
    }
    #social_links a{
        text-align: justify;
    }
}