<div class="row mx-0 about_content justify-content-center">
    
   
    <h1 class="page-header">ABOUT</h1>

      
                
                    <div class="col-md-5 col-11 my-2">
                        <h4>Hello!</h4>
                        <p>
                        My name is Pritam Ramteke amd I'm a passionate Full Stack Web
                        Developer using web technologies to build amazing products and 
                        focusing on solving problems for different niches and different 
                        industries using power of technology.
                        </p>
                        <p>
                        I will love to hear from you Whether it's a project job 
                        opportunity or just a chat. Feel free to contact me.
                        </p>
                        <h4>My Education</h4>
                        <p>I completed my Bachelors Degree in<strong> Information Technology </strong> from Rashtrasant Tukadoji Maharaj Nagpur University, Nagpur.</p>
                    </div>

                    <div class="col-md-5 col-11 my-2" >
                    <h4>Skills</h4>

                    
                    
                    <div >
                        <h5>Frotend</h5>
                    <span class='badge bg-secondary skill'>HTML5</span>
                    <span class='badge bg-secondary skill'>CSS3</span>
                    <span class='badge bg-secondary skill'>Javascript</span>
                    </div>
                  
                    <div >
                        <h5>Backend</h5>
                        <span class='badge bg-secondary skill'>Python</span>
                        <span class='badge bg-secondary skill'>Django</span>
                    </div>

                    <div >
                        <h5>Database</h5>
                    <span class='badge bg-secondary skill'>MYSQL</span>
                    <span class='badge bg-secondary skill'>MongoDB</span>
                    </div>

                    <div >
                        <h5>Deployment Tool</h5>
                    <span class='badge bg-secondary skill'>Heroku</span>
                    <span class='badge bg-secondary skill'>Git & GitHub</span>
                    </div>
                    
         
    
    

</div>
