{% extends 'base.html' %}
{% block title %}Pritam Ramteke Portfolio{% endblock title %}
{% load static %}

<style>
    body {
        font-family: "Lato", sans-serif;
    }
</style>


{% block body %}

<div class="main text-white">
    <div class="row mx-0">
    <div class="col-md-2"></div>
    <div class="col-md-8 home_text text-center" >
        <h1 class="head1" >Hi, I am Pritam Ramteke</h1>
        <p class="head2" > A Full Stack Python Web Developer.</p>
        <br>
        <div class="mb-4"><a href="#project" class="home_btn">MY PROJECTS </a> </div>
        <div><a href="media\files\PritamRamtekeCv.pdf" class="home_btn" target='blank'> RESUME </a></div>
            
            
        
    </div>
    <div class="col-md-2">
        
    </div>
    </div>

</div>

<div class="about " id='about'>
    {% include 'about.html' %}
</div>

<div class="project" id='project'>
    {% include 'project.html' %}
</div>

<div class="contact mb-5" id='contact'>
    {% include 'contact.html' %}
</div>



{% endblock body %}