{% extends 'base.html' %}
{% block title %}Pritam Ramteke Portfolio{% endblock title %}
{% load static %}

<style>
    body {
        font-family: "Lato", sans-serif;
    }
</style>


{% block body %}

<div class="main">
    <div class="row mx-0 justify-content-center ">

        <div class="col-md-5 col-11" id='home_img'>
            <img src="{% static 'images/V_Potrait_Clean_2_o-removebg.png' %}" class="img-fluid w-100" alt="">
        </div>

        <div class="col-md-5 col-11 home_text ">
            <h1 class="head1 pb-2">Hi, <br> I am Pritam Ramteke</h1>
            <p class="head2 pb-2"> A Full Stack Web Developer.</p>
            <p id='home_menu'> <a href="#project" class="home_menu_btn1"> PROJECTS </a> | <a
                    href="media\files\PritamRCV31.pdf" class="home_menu_btn2" target='blank'> RESUME </a> </p>

        </div>


    </div>
</div>

</div>

<div class="about pt-5" id='about'>
    {% include 'about.html' %}
</div>

<div class="project py-5" id='project'>
    {% include 'project.html' %}
</div>

<div class="contact py-5" id='contact'>
    {% include 'contact.html' %}
</div>



{% endblock body %}