{% extends 'base.html' %}
{% block title %}{{project.name}} Details{% endblock title %}
{% load static %}


{% block body %}

<div class="container py-3 project_area">
    <h1 class='text-center'>{{project.name}}</h1><br>
    <div class='my-3'>

        <div class='proj_details_img'>
            <img src="{{project.proj_image.url}}" alt="">
        </div>

        <div class="row mx-0 desc">
            <div class="col-md-7">
                    <h3>Description:</h3>
                    <p> {{project.description}} </p>
                    
                    {% if project.proj_link %}
                    <a href="{{project.proj_link}}" class='btn btn-primary card_btn_det' target='_blank'>See Live</a>
                
                    {% else %}
                
                     <a href="{% url project.proj_link_name %}" class='btn btn-primary card_btn_det' target='_blank'>See Live</a>
                    {% endif %}
                    <a href="{{project.github_url}}" class='btn btn-primary card_btn_det' target='_blank'> Check Code</a>

            
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 language">
                        <h3>Technology Used:</h3>
                        {% for l in lang %}
                            <div>{{l}}</div>
                        {% endfor %}
            </div>

           

        </div>


        <div class="lan"></div>

    </div>

</div>


{% endblock body %}